---
- name: Check if Docker is installed
  command: docker --version
  register: docker_check
  ignore_errors: yes
  changed_when: false
  become: yes

- name: Display Docker installation status
  debug:
    msg: "{{ 'Docker already installed: ' + docker_check.stdout if docker_check.rc == 0 else 'Docker not installed, will install now' }}"

- name: Install Docker (only if not present)
  when: docker_check.rc != 0
  block:
    - name: Download Docker installation script
      get_url:
        url: https://get.docker.com
        dest: /tmp/get-docker.sh
        mode: '0755'
      become: yes

    - name: Run Docker installation script
      command: sh /tmp/get-docker.sh
      become: yes
      environment:
        DEBIAN_FRONTEND: noninteractive

    - name: Remove installation script
      file:
        path: /tmp/get-docker.sh
        state: absent
      become: yes

- name: Ensure Docker service is running
  systemd:
    name: docker
    state: started
    enabled: yes
  become: yes

- name: Add ansible user to docker group
  user:
    name: ansible
    groups: docker
    append: yes
  become: yes

- name: Reset connection to apply group changes
  meta: reset_connection

- name: Verify Docker Compose plugin
  command: docker compose version
  register: compose_check
  changed_when: false
  become: yes

- name: Display versions
  debug:
    msg:
      - "Docker: {{ docker_check.stdout if docker_check.rc == 0 else 'newly installed' }}"
      - "Docker Compose: {{ compose_check.stdout }}"