---
- name: Create ansible user
  user:
    name: ansible
    shell: /bin/bash
    create_home: yes
    groups: sudo
    append: yes

- name: Set up SSH key for ansible user
  authorized_key:
    user: ansible
    key: "{{ ansible_public_key }}"
    manage_dir: yes
  when: ansible_public_key is defined

- name: Allow ansible user sudo without password
  lineinfile:
    path: /etc/sudoers.d/ansible
    line: 'ansible ALL=(ALL) NOPASSWD:ALL'
    create: yes