---
- name: Create ansible user
  user:
    name: ansible
    shell: /bin/bash
    create_home: yes
    groups: sudo
    append: yes

- name: Set up SSH key for ansible user
  authorized_key:
    user: ansible
    key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"

- name: Allow ansible user sudo without password
  lineinfile:
    path: /etc/sudoers.d/ansible
    line: 'ansible ALL=(ALL) NOPASSWD:ALL'
    create: yes