---
- name: Setup system and runtime
  hosts: app
  become: yes
  roles:
    - role: setup
      tags: [setup]

    - role: docker
      tags: [docker]

- name: Deploy application
  hosts: app
  become: yes
  roles:
    - role: app
      tags: [app]

- name: Configure nginx
  hosts: app
  become: yes
  roles:
    - role: nginx
      tags: [nginx]