---
- name: Setup system and runtime
  hosts: app
  become: yes
  roles:
    - role: setup
      tags: [setup]

    - role: docker
      tags: [docker]

- name: Deploy application
  hosts: app
  become: yes
  pre_tasks:
    - name: Remove problematic repository files
      file:
        path: "{{ item }}"
        state: absent
      loop:
        - /etc/apt/sources.list.d/jenkins.list
        - /etc/apt/sources.list.d/jenkins.list.save
      ignore_errors: yes
      tags: [app]
      
  roles:
    - role: app
      tags: [app]

- name: Configure nginx
  hosts: app
  become: yes
  roles:
    - role: nginx
      tags: [nginx]